#----------------------------------------------------------------------
# Copy this file to lita.env and configure lita secrets there.
# DO NOT ADD SECRETS TO THIS [lita.env.example] FILE!
#----------------------------------------------------------------------

# Slack API token for the bot. For more information, see:
# https://github.com/litaio/lita-slack#configuration
LITA_SLACK_TOKEN=REPLACE-THIS-WITH-YOUR-API-TOKEN
LITA_ELASTICSEARCH_URL=elastic.local:9200
